{
  "tabWidth": 2,
  "bracketSpacing": true,
  "bracketSameLine": true,
  "semi": true,
  "trailingComma": "all",
  "singleQuote": true,
  "jsxSingleQuote": false,
  "arrowParens": "always",
  "htmlWhitespaceSensitivity": "css",
  "endOfLine": "auto",
  "overrides": [
    {
      "files": ["**/*.css", "**/*.scss", "**/*.html"],
      "options": {
        "singleQuote": false
      }
    }
  ],
  "importOrderSeparation": false,
  "importOrderSortSpecifiers": true,
  "experimentalTernaries": true
}
